<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color_top %><br />
    <%= f.text_field :color_top %>
  </div>
  <div class="field">
    <%= f.label :color_footer %><br />
    <%= f.text_field :color_footer %>
  </div>
  <div class="field">
    <%= f.label :color_background %><br />
    <%= f.text_field :color_background %>
  </div>
  <div class="field">
    <%= f.label :footer %><br />
    <%= f.text_area :footer %>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= f.text_field :logo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
