    <h1>Settings</h1>
<div class="settings-container">
    <div class="span6">
        <br>
        <br>
        <br>
        <% if Setting.count() == 0 %>
            <%= link_to 'Customize Settings', new_setting_path, class: "btn" %>
        <% else %>

        Color Top: <%= setting.color_top %> </br>
        Color Footer: <%= setting.color_footer %> </br>
        Color Background: <%= setting.color_background %> </br>
        Logo: <br>
        <%= setting.color_logo %> </br>
        
        Footer:
        <p>
            <%= setting.color_footer %>
        </p>

        <%= link_to 'Edit Settings', edit_setting_path(setting), class: "btn" %>

        <% end %>
    </div>
    <div class="span5">
        Demo here
    </div>
</div>