<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body style="background-color: <%= get_settings.color_background %>;">
    <div class="container-narrow">
      <!--top menu row-->
      <%= render '/refinery/header' -%>
      <div class="sitebar navbar">
        <%= site_bar -%>
        <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
      </div>
      <div class="row content">
        <%= yield %>
      </div>
      <footer class="row" style="background-color: <%= get_settings.color_footer %>;">
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
